{% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor Me!</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>

  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #525E9B;">
    <a class="navbar-brand">TutorMe</a>
    </nav>

  <body style="background-image: url('https://www.haverford.edu/sites/default/files/Office/OAR/OAR-peer-tutoring-in-action.jpg');
  background-size : cover; overflow:hidden">
    <!--source: https://getbootstrap.com/docs/4.0/utilities/flex/-->
    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh">
    <!--source: https://stackoverflow.com/questions/11323813/how-to-outline-text-in-html-css-->
      <h1 style="color:white; text-shadow: -1px 1px 2px #000,
				  1px 2px 6px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;">TutorMe: making tutoring hassle-free!</h1>
      <a href="{%url 'tutorme:login_user'%}" class="button btn btn-primary btn-lg mt-3"
        style="background-color:#525E9B; border:none">Get Started!</a
      >
    </div>
  </body>
</html>
