{% extends 'home/base.html' %}
{% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}

{% block content %}


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <br>
      <div class="mx-auto" style="text-align:center">
        <h1>Mailbox</h1>
      </div>
    <br>
    <div>
    {% for notification in unread_notifications %}
    <div class="alert alert-info" role="alert">
            {{ notification.message }} <button id="notif" type="button" class="close" data-dismiss="alert" aria-label="Close">

    </button>
        <a aria-hidden="true" class="float-right" href="{% url 'tutorme:read_notification' id=notification.id %}">&times;</a>

    </div>
    {% endfor %}
    </div>
</body>

{% endblock %}